@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500&display=swap");
mat-form-field {
    width: 97%;
  }
  .id-name {
    width: 35%;
    margin-right: 5px;
  }
  .id-number {
    width: 55%;
    margin-left: 5px;
  }
  .phone-name {
    width: 45px;
    margin-right: 5px;
  }
  .country-code {
    width: 25%;
    margin-left: 1px;
  }
  .phone-number {
    width: 65%;
    margin-left: 5px;
  }
  .btn-sec {
    margin-right: 1.2rem !important;
    text-align: right;
    margin-top: 0em;
  }
  .Update-btn {
    margin: 5px;
  }
  .Discard-btn {
    margin: 5px;
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
  @media (max-width: 800px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  .material-icons{
    font-family: 'Material Icons' !important;
}
.example-spacer {
  flex: 1 1 auto;
}
.g1{
  width: 25% !important ;
   
}
.g2{
  width:75% !important;
  left:25%!important;
}

.fullWidth{
  width: 100% !important ;
}

mat-grid-list{
  padding: 5px !important ;
}
.primary-bg{background-color:#00BCD4!important;color: white!important;}

.example-stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin: 6px;
}
.pointer{cursor: pointer;}
.example-card:hover{background-color: #f3f3f3;}

.mat-dialog-container {
  position: relative!important;
}

.sticky-modal-footer {
position: absolute;

bottom: 0;
left: 0;
width: 96.3%;
border-top: 1px solid #efefef;
background-color: #f3f3f3;
color:#3a3a3a;
padding: 13px;
font-size: 10px;
}

.mat-toolbar-multiple-rows {
  min-height: 45px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 45px;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

/* .fullWidth{
  width: 50% !important ;
} */