/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 13px; }
.example-spacer {
    flex: 1 1 auto;
  }
  .primary-bg{background-color:#00BCD4!important;color: white!important;}
  .mat-dialog-container {
    position: relative!important;
    height: 95vh!important;
  }
  mat-card-header-text {
    margin: 0 10px!important;
}
  @media only screen and (max-width: 768px) {
    .mat-dialog-container {
      position: relative!important;
      height: 95vh!important;
      padding: 20px 0px 0px 0px!important;
      overflow-x: hidden!important;
    }
    .mat-step-label{
      font-size: 11px!important;
    }
    .mat-step-label-selected {
      font-size: 10px!important;
      min-width: 80px!important;
    }
    .mat-dialog-content { padding: 0 12px!important;overflow-x: hidden!important;}
    .dateTime{padding-left: 115px;}
    .mat-stepper-horizontal-line{display: none!important;}
    .mat-horizontal-stepper-header-container{padding-left: 11px!important;}
    .mat-horizontal-stepper-header{padding: 0 4px!important;}
  }

  .mat-form-field-infix {
    width: auto;
}
.mat-form-field-wrapper {
  padding-bottom: 0px!important;
  margin: 0px;
}
.cdk-overlay-pane{max-width: 90vw!important;}
